---
import LinkButton from "@components/LinkButton.astro";
---

<section class="bg-skin-background text-center">
  <p class="text-skin-muted mb-4">
    ¿Buscas soluciones tecnológicas personalizadas?
  </p>
  <LinkButton
    ariaLabel="Consultoría IT y desarrollo a medida - Álvaro Barrera"
    target="_blank"
    className="text-lg font-semibold"
    href="https://www.linkedin.com/in/alvaro-barrera"
  >
    Contáctame para consultorías IT y desarrollo a medida
  </LinkButton>
</section>
