.Badges__hero {
  width: 100%;
  padding: 2rem 0;
  /* background: url("../../images/stars.svg"), var(--primary-color); */
  background-color: var(--primary-color);
  background-repeat: repeat;
  margin-bottom: 0rem;
}

.Badges__hero > .Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
  height: 80px;
}

.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.Badgeds__title {
  color: aliceblue;
}

.Badges_list {
  margin-top: 3rem;
}
.ButtonContact__animation {
  animation: pulsate 3s infinite;
  /* transform-origin: center; */
}
@keyframes pulsate {
  /* from {
    transform: none;
  }
  50% {
    transform: scale(1.03);
  }
  to {
    transform: none;
  } 
   0%
  {
    transform: scale( 1 )
      rotate(-45deg)
      ;    
   }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg)
      ;  
  }  */
  40% {
    transform: scale(1.04) /* rotate(-45deg) */;
  }
}
