.Badges__hero {
  width: 100%;
  padding: 2rem 0;
  /* background: url("../../images/stars.svg"), var(--primary-color); */
  background-color: var(--primary-color);
  background-repeat: repeat;
  margin-bottom: 0rem;
}

.Badges__hero > .Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
.separation h2 {
  border-bottom: 1px solid #dee2e6 !important;
  padding-bottom: 1rem !important;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
  height: 80px;
}

.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.Badgeds__title {
  color: aliceblue;
}

.Badges_list {
  margin-top: 3rem;
}
.ButtonContact__animation {
  animation: pulsate 3s infinite;
  /* transform-origin: center; */
}
@keyframes pulsate {
  /* from {
    transform: none;
  }
  50% {
    transform: scale(1.03);
  }
  to {
    transform: none;
  } 
   0%
  {
    transform: scale( 1 )
      rotate(-45deg)
      ;    
   }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg)
      ;  
  }  */
  40% {
    transform: scale(1.04);
  }
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: #000;
  letter-spacing: 0.3px;
}

.section-title h2 {
  padding: 0;
}

.section-title::after {
  content: "";
  height: 3px;
  background: #fbb900;
  width: 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/****************/
/*   BX-SLIDER  */
/****************/

section.client {
  padding: 20px 0em;
  background-color: #eee;
  background: rgba(20, 183, 137, 0.3);
}

section.client .section-title {
  margin-bottom: 6em;
}

.bx-controls {
  position: relative;
}

.bx-wrapper .bx-pager {
  text-align: center;
  padding-top: 30px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.Customer__carousel-client .slide img {
  height: 70px;
  margin: 0 10px;
}

.Customer__container {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .Customer__carousel-client .slide img {
    height: 20px;
    margin: 0 5px;
  }
}
