.BadgesList ul > li {
  margin-bottom: 1rem;
  display: inline;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.BadgesListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.BadgesListItem__avatar {
  /* border-radius: 50%; */
  background: none;
  /* margin-right: 0.5rem; */
  width: 50px;
  height: 50px;
}

.BadgesList__title {
  background-color: #19676b !important;
}


.BadgesListItem__tag-title{
  background-color: #548285 !important;
}