.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 22;
}

.Modal__container {
  position: relative;
  top: 0rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 400px;
  width: 450px;
    max-width: 90%;
}

.Modal__container.full {
  width: 90% !important;
  max-height: 700px;
  height: auto;
}

.Modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
}
