.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #19676B;
  }
  
  .Navbar__brand {
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    margin-right: 0.5rem;
    max-width: auto;
    height: 70px;
    padding: 0;
    margin: 0;
  }