---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import getUniqueTags from "@utils/getUniqueTags";
import { getCollection } from "astro:content";
import Tag from "@components/Tag.astro";
import Card from "@components/Card";
import LinkButton from "@components/LinkButton.astro";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
const orderedPosts = posts.sort((a, b) => a.data.order - b.data.order);
---

<Layout title={`Blog | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Blog" pageDesc="Todos los artículos">
    <ul>
      {tags.map(tagItem => <Tag tag={tagItem.tag} size="sm" />)}
    </ul>
    <br />

    <LinkButton
      href="/archives/"
      className={`focus-outline flex justify-center p-3 sm:p-1`}
      ariaLabel="archives"
      title="Artículos"
    >
      Agrupar por fecha de publicación
    </LinkButton>

    <ul>
      {
        orderedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
</Layout>
<Footer noMarginTop={page.lastPage > 1} />
